<br>
<footer class="page-footer grey darken-3" style="bottom: 0;">
	<div class="container grey-text text-lighten-4">
		© 2014 Copyright Text
		<i class="fa fa-twitter right" aria-hidden="true"></i>
		<i class="fa fa-google-plus right" aria-hidden="true"></i>
		<i class="fa fa-facebook right" aria-hidden="true"></i>
		<i class="fa fa-github right" aria-hidden="true"></i>
	</div>
</footer>
</body>
</html>